

.container{

    width: 60%;
    background-color: rgb(245, 198, 128);
    margin-top: 60px;
    height: 490px;
    border: 5px solid blue;
    border-radius: 10px;
    font-weight: 600;
}

.form-group button{

       width: 380px;
       height: 45px;
       font-size: 20px;
       margin-left: 25%;
}


